.entry-content {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.entry-content p {
  margin-bottom: 1.5em;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin-top: 0;
  margin-bottom: .5em;
}

.entry-content a {
  color: #62493d;
}

.entry-content ul,
.entry-content ol {
  margin-left: 20px;
}

.entry-content ul li,
.entry-content ol li {
  list-style: inherit;
  margin-bottom: 2px;
}

.entry-content ul {
  list-style: disc;
  font-weight: normal;
  font-size: 17px;
}

.entry-content ol {
  list-style: decimal;
  font-weight: bold;
}

.entry-content ol > li {
  margin-bottom: 10px;
}

.entry-content .heading {
  margin-bottom: 20px;
}

.entry-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}