@media only screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  .wrapper {
    width: 100%;
    margin: 0;
  }

  .page-content {
    margin-left: 24px;
    margin-right: 24px;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  header .logo img {
    margin-bottom: 20px;
    width: 200px;
  }

  nav {
    padding: 0;
    width: 100%;
    font-size: 18px;
  }

  nav #nav {
    display: flex;
    flex-direction: column;
  }

  nav #nav a {
    padding: 10px 20px;
    text-align: center;
  }

  nav #nav li:last-child {
    margin-left: 0;
  }

  #main {
    padding: 20px 20px 80px;
  }

  .slider-wrapper {
    margin: 30px auto 0 auto;
    width: 702px;
  }

  .nav-categories {
    margin: 20px 28px 20px 28px;
  }

  .pager {
    margin: 0 28px 60px 28px;
  }
}
