.widget-cols {
  position: relative;
  display: block;
  background: #62493d url(../img/widgets.png) repeat;
  font-size: 14px;
  color: #e7d7ba;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  border-top: 3px solid #e09402;
  padding: 20px 30px 15px;
}

.widget-cols h1,
.widget-cols h2,
.widget-cols h3,
.widget-cols h4,
.widget-cols h5,
.widget-cols h6 {
  font-family: 'Lato', sans-serif;
  color: #e09402;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
}
